<table>
    <thead>
    <tr>
        <th>Field</th>
        <th>Enabled</th>
        <th>Label</th>
        <th>Default Value</th>
        <th>Css Class</th>
        <th>Separator</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>Field</th>
        <th>Enabled</th>
        <th>Label</th>
        <th>Default Value</th>
        <th>Css Class</th>
        <th>Separator</th>
    </tr>
    </tfoot>
    <tbody>
    <tr>
        <td>address1</td>
        <td><input type="checkbox"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
    </tr>
    </tbody>
</table>